
	/* Clearing floats without extra markup - Based on How To Clear Floats Without Structural Markup by PiE
	   [http://www.positioniseverything.net/easyclearing.html] */
	.clearfix { height: 1%; }

/* -----------------------------------------------------------------------------------------------------------------
	layout fixes for IE6 DON'T MODIFY THESE
----------------------------------------------------------------------------------------------------------------- */
	
	/* |-------------------------50%-------------------------|-------------------------50%-------------------------| */
	.p50x50_ie6_col1, .p50x50_ie6_col2 { width: 49.8%; }

	/* |----------20%----------|----------------------------------------80%----------------------------------------| */
	.p20x80_ie6_col1 { width: 19.9%; }
	.p20x80_ie6_col2 { width: 79.9%; }

	/* |----------------------------------------80%----------------------------------------|----------20%----------| */
	.p80x20_ie6_col1 { width: 79.9%; }
	.p80x20_ie6_col2 { width: 19.9%; }

	/* |---------------30%---------------|-----------------------------------70%-----------------------------------| */
	.p30x70_ie6_col1 { width: 29.9%; }
	.p30x70_ie6_col2 { width: 69.9%; }

	/* |-----------------------------------70%-----------------------------------|---------------30%---------------| */
	.p70x30_ie6_col1 { width: 69.9%; }
	.p70x30_ie6_col2 { width: 29.9%; }
	
	/* |----------------33%----------------|----------------33%----------------|----------------33%----------------|  */
	.p33x33x33_ie6_col1, .p33x33x33_ie6_col2, .p33x33x33_ie6_col3 { width: 33.2%; }
	
	/* |------------25%------------|------------25%------------|------------25%------------|------------25%------------| */
	.p25x25x25x25_ie6_col1, .p25x25x25x25_ie6_col2, .p25x25x25x25_ie6_col3, .p25x25x25x25_ie6_col4 { width: 24.9%; }
	
	/* getting equal hight blocks; works due to the hidden overflow on colmask */
	.equal_ie6_col1, .equal_ie6_col2, .equal_ie6_col3, .equal_ie6_col4 { margin-bottom: -32000px; padding-bottom: 32000px; }
	
/* -----------------------------------------------------------------------------------------------------------------
	costum layout fixes for IE ADD YOUR FIXES BELOW
----------------------------------------------------------------------------------------------------------------- */
	.px210x750_ie6_col1  { width: 209px; border-right: 1px solid #dcdcdc; }
	.px210x750_ie6_col2  {	width: 750px;	}
	
	/* no chance for IE to get nice auto content margin */
	.content { margin: 0 5px; }
	
