<!DOCTYPE html 
	PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/common.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" />

		<!--[if IE 7]> 
			<link rel="stylesheet" href="css/screen_ie7.css" type="text/css" media="screen" />
		<![endif]-->

		<!--[if lte IE 6]>
			<link rel="stylesheet" href="css/screen_ie6.css" type="text/css" media="screen" />
		<![endif]-->
		
		<script src="scripts/mootools-1.2.1-all-yc.js" type="text/javascript"></script>
		
		<title>Webteam Default Template</title>
	</head>
	<body>
	
		<div id="wrap">
		
			<div id="header">
				header
			</div>
			
			<div class="colmask equal px210x750">
				<div class="col1">
					<div class="content">
						col1: cols_px_210_750
					</div>
				</div>
				<div class="col2">
					<div class="content">
						some Content
					</div>
				</div>
			</div>
			
			<div id="footer">
				footer
			</div>

			
		</div> <!-- /wrap -->
		
		<!--[if lte IE 6]>
			<script src="scripts/ie6_cssFix.js" type="text/javascript"></script>
		<![endif]-->
		
	</body>
	
</html>



